.container {
  display: flex;
  width: 100%;
}

.productList {
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
  border-radius: 10px; 
  padding: 20px;
  margin: 20px
}

.productCard {
  border: none;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 320px; 
  height: 350px;
  background-color: #fff;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productDescription {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.productPrice {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

.productImage {
  width: 100%; 
  height: 220px; 
  border-radius: 6px; 
  transition: transform 0.3s ease;
}
.productImage:hover {
  transform: scale(1.03); /* Scale down the image to 90% of its size */
}
