.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #f7f9fc;
  }
  
  .card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #555;
    text-align: left;
  }
  
  .input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .submitButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #18abd7;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #1288a6;
  }
  
  .links {
    margin-top: 1rem;
  }
  
  .link {
    color: #18abd7;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  footer {
    align-items: center;
  }