.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
    background-image: url(https://images.pexels.com/photos/2049422/pexels-photo-2049422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
  }
  
  .formContainer {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #FFF;
    padding: 4;
    background-color:#1288a6;
    border-radius: 10px;
  }
  
  .googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .googleButton:hover {
    background-color: #f5f5f5;
  }
  
  .googleIcon {
    width: 30px;
    height: 25px;
    margin-right: 0.5rem;
  }
  
  .orDivider {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  
  .line {
    flex: 1;
    height: 1px;
    background-color: #ddd;
  }
  
  .orText {
    margin: 0 0.5rem;
    color: #888;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .signInButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #18abd7;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signInButton:hover {
    background-color: #1288a6;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .link {
    color: #18abd7;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  