.container {
  margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
    background-image: url(https://images.pexels.com/photos/2049422/pexels-photo-2049422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
  }
  
  .card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #555;
    text-align: left;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
  }
  
  .submitButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #18abd7;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #1288a6;
  }
  
  .contactInfo {
    margin-top: 1rem;
  }
  
  .contact {
    font-size: 0.9rem;
    color: #555;
  }
  
  .link {
    color: #18abd7;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  