.top{
    margin-top: -40px;
    background-color: rgb(15, 155, 183);
    height: 40px;
}
.container {
    margin-top: -10px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading {
  font-family: sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 600;
  padding: 5px;
}
.select{
    border: 2px solid #ccc;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 20px;
}
.listingsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #f6f2f2;
  padding: 12px;
  margin-top: -15px;
}

.addListing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 250px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  color: #f48024;
  font-weight: bold;
  cursor: pointer;
}

.addIcon {
  font-size: 48px;
  margin-bottom: 10px;
}

.card {
  width: 210px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.image {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.details {
  padding: 10px;
}

.description {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
 overflow-wrap:anywhere;
}
