.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 40px 40px 40px 40px;
}

.image {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  margin: 0 10px;
  
}
.arrow {
  cursor: pointer;
  font-size: 2rem; 
  color: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.1);
  padding: 10px; 
  user-select: none; 
} 

