.container {
  display: flex;
  width: 100%;
}
.aside {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin-left: 40px;
  margin-bottom: 40px;
  flex-shrink: 0; 
  margin-right: 20px;
  height: 800px;
}

.category {
  margin-top: 10px;
  
}
.category h3,
.priceRange h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category ul li {
  margin-bottom: 10px;
}

.category ul li label {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.category ul li input[type="radio"] {
  margin-right: 10px;
}

.priceRange {
  margin-top: 30px;
  margin-bottom: 30px;
}

.slider {
  width: 100%;
  margin-top: 10px;
}

.priceInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.priceInput {
  width: 45%;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.priceInput:focus {
  border-color: #007bff;
  outline: none;
}
.category1 ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category1 ul li {
  margin-bottom: 10px;
}

.category1 ul li label {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.category1 ul li input[type="radio"] {
  margin-right: 10px;
}

.cardContainer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #f1f1f1;
}


.priceRange {
  margin-top: 20px;
}

.priceInputs {
  display: flex;
  align-items: center;
}

.priceInput {
  width: 80px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.priceInput:focus {
  border-color: #007bff;
  outline: none;
}

.productList {
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
  border-radius: 10px; 
  padding: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.productCard {
  border: none;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 330px; 
  height: 350px;
  background-color: #fff;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productDescription {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.productPrice {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

.productImage {
  width: 100%; 
  height: 220px; 
  border-radius: 6px; 
  transition: transform 0.3s ease;
}
.productImage:hover {
  transform: scale(1.03); /* Scale down the image to 90% of its size */
}
.pagination{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 20px;
}

.navButton {
  background-color: transparent;
  border: 2px solid #f7931e;
  border-radius: 50%;
  color: #f7931e;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.navButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.navButton:hover:not(:disabled) {
  background-color: #f7931e;
  color: #fff;
}

.stepButton {
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
  transition: all 0.3s ease;
}

.stepButton:hover {
  border-color: #f7931e;
  color: #f7931e;
}

.activeStep {
  background-color: #f7931e;
  color: #fff;
  border-color: #f7931e;
}

.leftButton {
  transform: rotate(0);
}

.rightButton {
  transform: rotate(0);
}
